    <style>
    table, th, td {
  border: 1px solid;
}
    </style>

<h1>Les détails du marque-page : {{ details.id }}</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">URL</th>
      <th scope="col">Date Création</th>
      <th scope="col">Commentaire</th>

    </tr>
  </thead>
  <tbody>
      <tr>
        <td> {{ details.id }}</td>
        <td>{{ details.url }}</td>
       <td>{{ details.getDateCreation()|date('Y-m-d H:i:s') }}</td>
        <td>{{ details.commentaire }}</td>
      </tr>
  </tbody>
</table>

<a href="/">Retourner !</a>