{% extends 'base.html.twig' %}

{% block title %}Détail du
	{{ details.id }}
{% endblock %}
{% block body %}
	<style>
		table,
		th,
		td {
			border: 1px solid;
		}
	</style>
	<div class="container">

		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Libellé</th>
					<th scope="col">Valeurs</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Id</td>
					<td>{{ details.id }}</td>
				</tr>
				<tr>
					<td>Titre</td>
					<td>{{ details.getTitre() }}</td>
				</tr>
				<tr>
					<td>Date de création</td>
					<td>{{ details.getAnnee()|date('Y-m-d H:i:s') }}</td>
				</tr>
			</tbody>
		</table>
		<a href="/livres">Retourner à la liste des livres</a>
	</div>

{% endblock %}
{% block footer %}Détails du livre : "{{ details.getTitre()}}"
{% endblock %}
