{% extends 'base.html.twig' %}

{% block title %}Liste des livres
{% endblock %}
{% block titrenavbar %}
	<h1>Liste complète des livres</h1>
{% endblock %}
{% block body %}
	<style>
		table,
		th,
		td {
			border: 1px solid;
		}
	</style>

	<div class="container">
		<h2>Nombre total de livres :
			{{ totalLivres }}</h2>
		{# <h2>Ajouter un livre :</h2>
		<div>{{ form(mon_formulaire) }}</div> #}
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Titre</th>
					<th scope="col">Auteur</th>
					<th scope="col">Détails</th>
				</tr>
			</thead>
			<tbody>
				{% for l in livres %}
					<tr>
						<td>{{ l.getTitre() }}</td>
						<td>{{ l.getAuteur() }}</td>
						<td>
							<a href="/consulter/livre/{{ l.getId() }}">Détails</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<h2>La liste des livres dont la première lettre commence par …</h2>
		<ul>
			{% for livre in livres %}
				<li>{{ livre.titre }}
					par
					{{ livre.auteur }}</li>
			{% endfor %}
		</ul>
	</div>

{% endblock %}
{% block footer %}Liste des Livres
{% endblock %}
